body {
    background-image: url(img/Back.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .table-container {
    display: flex;
    align-items: flex-start;
}
.left-column, .right-column {
    padding: 0px;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
}
.center-column{
    display: flex;
    flex-direction: column;
    padding: 0px;
    opacity: 0.7;
}
.center-scroll {
    overflow-y:scroll;
    height:500px;
    display:block;
  }
.container {
    display: flex;
    align-items: center;
}
img {
max-width: 90%;
max-height:90%;
}

.text {
font-size: 20px;
margin:center ;
transform:translateX(220%);
font-family: 'Courier New', Courier, monospace;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ccc;
    padding: 40px;
    width: 800px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.button {
    width: 200px;
    height: 100px;
    margin: 0px 0;
    border-radius: 1; /* Убираем закругление */
    background-color: rgba(245, 245, 245);
    color: #000000; /* Задаем цвет текста (белый) */
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    cursor: pointer; /* Задаем стиль курсора для кнопки */
}
.registration {
    width: 220px;
    height: 100px;
    font-size: 20px;
    margin: 0px 0;
    border-radius: 1; /* Убираем закругление */
    background-color: rgba(245, 245, 245);
    color: #000000; /* Задаем цвет текста (белый) */
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    cursor: pointer; /* Задаем стиль курсора для кнопки */
    opacity: 0.5;
}
.color-text {
    color: white;
    font-size:  x-large;
    font-family: 'Courier New', Courier, monospace;
}
.font-text {
    font-size:  x-large;
    font-family: 'Courier New', Courier, monospace;
}
